# DATA WRANGLING FOR TANZANIAN TOURISM ANALYSIS

In [1]:
import pandas as pd

In [135]:
tourists_df = pd.read_csv('datasets/samplesubmission.csv')

### Step 1: Data Description and Basic Stats

In [84]:
tourists_df.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing
0,tour_1,AUSTRALIA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,Yes,10,3,Cash,Yes,Wildlife
1,tour_100,SOUTH AFRICA,25-44,Friends/Relatives,0.0,4.0,Business,Wildlife tourism,Tanzania Mission Abroad,Package Tour,...,No,No,No,No,No,13,0,Cash,No,"Wonderful Country, Landscape, Nature"
2,tour_1001,GERMANY,25-44,Friends/Relatives,3.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,No,7,14,Cash,No,No comments
3,tour_1006,CANADA,24-Jan,Friends/Relatives,2.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,No,0,4,Cash,Yes,Friendly People
4,tour_1009,UNITED KINGDOM,45-64,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,Yes,Yes,No,No,No,10,0,Cash,Yes,Friendly People

In [4]:
tourists_df.shape

(1601, 22)

In [5]:
tourists_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1601 non-null   object
 1   country                1601 non-null   object
 2   age_group              1601 non-null   object
 3   travel_with            1274 non-null   object
 4   total_female           1600 non-null   float64
 5   total_male             1599 non-null   float64
 6   purpose                1601 non-null   object
 7   main_activity          1601 non-null   object
 8   info_source            1601 non-null   object
 9   tour_arrangement       1601 non-null   object
 10  package_transport_int  1601 non-null   object
 11  package_accomodation   1601 non-null   object
 12  package_food           1601 non-null   object
 13  package_transport_tz   1601 non-null   object
 14  package_sightseeing    1601 non-null   object
 15  package_guided_tour    1601 non-null   object
 16  package_insurance      1601 non-null   object
 17  night_mainland         1601 non-null   int64
 18  night_zanzibar         1601 non-null   int64
 19  payment_mode           1601 non-null   object
 20  first_trip_tz          1601 non-null   object
 21  most_impressing        1490 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 275.3+ KB

In [6]:
tourists_df.describe(include='all')

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing
count,1601,1601,1601,1274,1600.000000,1599.000000,1601,1601,1601,1601,...,1601,1601,1601,1601,1601,1601.000000,1601.000000,1601,1601,1490
unique,1601,87,4,5,NaN,NaN,7,9,8,2,...,2,2,2,2,2,NaN,NaN,4,2,7
top,tour_1,UNITED STATES OF AMERICA,25-44,Alone,NaN,NaN,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,No,NaN,NaN,Cash,Yes,Friendly People
freq,1,198,866,403,NaN,NaN,932,767,655,856,...,914,983,1116,1103,1364,NaN,NaN,1378,1105,517
mean,NaN,NaN,NaN,NaN,0.925625,1.056911,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.741412,2.495315,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.169807,1.309879,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19.788490,6.266489,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,0.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.000000,0.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.000000,0.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.000000,4.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,20.000000,40.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,664.000000,174.000000,NaN,NaN,NaN

In [180]:
tourists_df.isnull().sum()

ID                       0
country                  0
age_group                0
travel_with              0
total_female             0
total_male               0
purpose                  0
main_activity            0
info_source              0
tour_arrangement         0
package_transport_int    0
package_accomodation     0
package_food             0
package_transport_tz     0
package_sightseeing      0
package_guided_tour      0
package_insurance        0
night_mainland           0
night_zanzibar           0
payment_mode             0
first_trip_tz            0
most_impressing          0
dtype: int64

### Step 2: Data Cleaning
From the column analysis there are missing values on the travel_with, total_female, total_male and most_impressing columns. This section is to fill in the missing values, remove duplicates and clean any anomalies that we identify

#### 2.1 Fill in missing total male and female values

In [136]:
tourists_df[tourists_df.total_female.isnull()] = 0

In [137]:
tourists_df[tourists_df.total_male.isnull()] = 0

In [166]:
#Since travelers can only be a minimum of 1 person, the total_female and total_male value needs to be greater than zero if the specific traveler stayed in the country and did some activity. In our case we need to clean row 1453
tourists_df[(tourists_df.total_female == 0) & (tourists_df.total_male == 0)]

Empty DataFrame
Columns: [ID, country, age_group, travel_with, total_female, total_male, purpose, main_activity, info_source, tour_arrangement, package_transport_int, package_accomodation, package_food, package_transport_tz, package_sightseeing, package_guided_tour, package_insurance, night_mainland, night_zanzibar, payment_mode, first_trip_tz, most_impressing]
Index: []

[0 rows x 22 columns]

In [164]:
tourists_df.loc[804, 'total_male'] = 3
tourists_df.loc[804, 'total_female'] = 5
tourists_df.loc[1453, 'total_female'] = 1

#### 2.2 Fill in missing travel with values

In [138]:
missing_travel_companions = tourists_df[tourists_df.travel_with.isnull()]

In [139]:
missing_travel_companions.travel_with.isnull().sum()

327

In [140]:
single_travelers = missing_travel_companions[(missing_travel_companions.travel_with.isnull()) & (missing_travel_companions.total_female == 1) | (missing_travel_companions.total_male == 1)]

In [143]:
single_travelers.travel_with = single_travelers.travel_with.fillna('Alone')

/var/folders/mk/pdjmq76j5h1b0nv4v9ys81cr0000gn/T/ipykernel_34254/548512947.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_travelers.travel_with = single_travelers.travel_with.fillna('Alone')

In [144]:
single_travelers.travel_with.isnull().sum()

0

In [145]:
#tourists_df.travel_with.fillna(single_travelers.travel_with, inplace=True)
tourists_df.travel_with = tourists_df.travel_with.fillna(single_travelers.travel_with)

In [146]:
tourists_df.travel_with.isnull().sum()

6

In [168]:
# Find the unique travel_with values needed to clean our data where there are missing values
tourists_df.travel_with.unique()

array(['Spouse', 'Friends/Relatives', 'Alone', 'Spouse and Children',
       'Children', 'Travel as group'], dtype=object)

In [147]:
tourists_df[tourists_df.travel_with.isnull()]

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing
122,tour_1416,KENYA,25-44,NaN,0.0,2.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,No,3,0,Credit Card,Yes,Wildlife
187,tour_1627,UNITED STATES OF AMERICA,45-64,NaN,0.0,3.0,Leisure and Holidays,Conference tourism,"Radio, TV, Web",Independent,...,No,No,No,No,No,13,0,Cash,No,Good service
239,tour_1827,UNITED STATES OF AMERICA,45-64,NaN,11.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,No,12,0,Cash,Yes,Wildlife
330,tour_2142,ITALY,45-64,NaN,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,Yes,Yes,7,5,Cash,Yes,"Wonderful Country, Landscape, Nature"
1411,tour_6151,ZIMBABWE,25-44,NaN,0.0,2.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,No,7,0,Cash,Yes,Good service
1453,tour_6310,UGANDA,24-Jan,NaN,0.0,0.0,Leisure and Holidays,Beach tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,No,3,1,Cash,Yes,Wildlife

In [112]:
tourists_df[tourists_df.travel_with == 0]

Empty DataFrame
Columns: [ID, country, age_group, travel_with, total_female, total_male, purpose, main_activity, info_source, tour_arrangement, package_transport_int, package_accomodation, package_food, package_transport_tz, package_sightseeing, package_guided_tour, package_insurance, night_mainland, night_zanzibar, payment_mode, first_trip_tz, most_impressing]
Index: []

[0 rows x 22 columns]

In [148]:
#Drop the row with zero values
tourists_df.drop(tourists_df[tourists_df.travel_with == 0].index, inplace=True)

In [149]:
#Get travel_with missing value indices
missing_total_with_indices = tourists_df.index[tourists_df.travel_with.isnull()].tolist()

In [150]:
missing_total_with_indices

[122, 187, 239, 330, 1411, 1453]

In [151]:
#Add value travel as group and to missing values
tourists_df.loc[missing_total_with_indices, 'travel_with'] = 'Travel as group'

In [159]:
tourists_df[tourists_df.travel_with == 'Travel as group']

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing
122,tour_1416,KENYA,25-44,Travel as group,0.0,2.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,No,3,0,Credit Card,Yes,Wildlife
187,tour_1627,UNITED STATES OF AMERICA,45-64,Travel as group,0.0,3.0,Leisure and Holidays,Conference tourism,"Radio, TV, Web",Independent,...,No,No,No,No,No,13,0,Cash,No,Good service
239,tour_1827,UNITED STATES OF AMERICA,45-64,Travel as group,11.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,No,12,0,Cash,Yes,Wildlife
330,tour_2142,ITALY,45-64,Travel as group,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,Yes,Yes,7,5,Cash,Yes,"Wonderful Country, Landscape, Nature"
1411,tour_6151,ZIMBABWE,25-44,Travel as group,0.0,2.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,No,7,0,Cash,Yes,Good service

In [ ]:
tourists_df.loc[1453, 'travel_with'] = 'Alone'

#### 2.3 Fill in missing most_impressing values

In [178]:
tourists_df.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing
0,tour_1,AUSTRALIA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,Yes,10,3,Cash,Yes,Wildlife
1,tour_100,SOUTH AFRICA,25-44,Friends/Relatives,0.0,4.0,Business,Wildlife tourism,Tanzania Mission Abroad,Package Tour,...,No,No,No,No,No,13,0,Cash,No,"Wonderful Country, Landscape, Nature"
2,tour_1001,GERMANY,25-44,Friends/Relatives,3.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,No,7,14,Cash,No,No comments
3,tour_1006,CANADA,24-Jan,Friends/Relatives,2.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,No,0,4,Cash,Yes,Friendly People
4,tour_1009,UNITED KINGDOM,45-64,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,Yes,Yes,No,No,No,10,0,Cash,Yes,Friendly People

In [174]:
tourists_df.most_impressing.unique()

array([' Wildlife', 'Wonderful Country, Landscape, Nature', 'No comments',
       'Friendly People', 'Good service', nan,
       'Satisfies and Hope Come Back', 'Excellent Experience'],
      dtype=object)

In [179]:
tourists_df.most_impressing.isnull().sum()

0

In [177]:
tourists_df.most_impressing = tourists_df.most_impressing.fillna('No comments')

#### 2.4 Check and drop duplicates

In [113]:
tourists_df.duplicated().sum()

0

In [104]:
tourists_df.drop(tourists_df[tourists_df.duplicated()].index, inplace=True)

In [105]:
tourists_df[tourists_df.duplicated()]

Empty DataFrame
Columns: [ID, country, age_group, travel_with, total_female, total_male, purpose, main_activity, info_source, tour_arrangement, package_transport_int, package_accomodation, package_food, package_transport_tz, package_sightseeing, package_guided_tour, package_insurance, night_mainland, night_zanzibar, payment_mode, first_trip_tz, most_impressing]
Index: []

[0 rows x 22 columns]

In [114]:
tourists_df.tail()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing
1596,tour_988,UNITED STATES OF AMERICA,25-44,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,"Newspaper, magazines,brochures",Independent,...,No,No,No,No,No,1,0,Cash,No,NaN
1597,tour_990,ITALY,45-64,Spouse and Children,3.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,Yes,Yes,Yes,No,No,10,5,Other,Yes,Wildlife
1598,tour_992,FINLAND,25-44,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,No,No,6,0,Cash,Yes,No comments
1599,tour_996,SOUTH AFRICA,24-Jan,Alone,0.0,1.0,Business,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,No,4,0,Cash,Yes,Wildlife
1600,tour_998,SOUTH AFRICA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Cultural tourism,"Radio, TV, Web",Independent,...,No,No,No,No,No,9,5,Cash,Yes,Friendly People

### Step 3: Data Exploration

In [ ]:
# 1.Calculate summary statistics for numerical columns (mean, median, mode, etc).
# 2.Find the correlation between columns and create a heatmap.
# 3.Find the 3 most frequent countries that visitors tend to come from.
# 4.Determine the most common purpose of the visit by 'age_group'.
# 5.Analyse the data distribution of 'total_cost' column with respect to sevreal criteria : Country, age_group, purpose